# Gradle
.gradle/
gradle/
gradlew
gradlew.bat
build/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log
*.gz

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Application specific
/logs/
application-*.properties
application-*.yml
!application.properties
!application.yml

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Misc
HELP.md
.env